main{
    display: flex;
    justify-content: space-around;
}

.card1{
    height: 200px;
    width: 200px;
    background: rgba(4, 4, 245, 0.479);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .2s ease-in-out;
    border-radius:25px;
      overflow: hidden;
      text-align:center;
    
}

.card2{
    height: 200px;
    width: 200px;
    background: rgba(0, 255, 13, 0.452);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .2s ease-in-out;
    border-radius:25px;
      overflow: hidden;
      text-align:center;
}

.card1:hover, .card2:hover{
    transform: scale(1.1);
}

header h1{
    text-align: center;
}

 
@media only screen and (max-width: 400px) {
 header  h1 {
font-size: 30px;     
    }
  }
